.add {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}



.cancel-1{
    -fx-background-color: #FF0000;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.cancel-1:hover{
    -fx-background-color: #FF454C;
}


.add-1{
    -fx-background-color: #009922;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.add-1:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
}


.add-student {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 10px;
}

.add-student:hover {
    -fx-background-color: #006bb3;
    -fx-cursor: hand;
}

.update-button{
    -fx-background-color: green;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.update-button:hover{
    -fx-background-color: #45a049;
    -fx-cursor: hand;
}


.borderpane {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.borderpane:hover {
    -fx-background-color: #00214A;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 20px;
    -fx-border-radius: 10px;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.text-field:hover {
    -fx-border-color: #999;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-radius: 50px;
}

.UserList ImageView:hover {
    -fx-background-color: #00214A;
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

